.DS_Store

com.dubture.composer.eclipse/bin/*
com.dubture.composer.eclipse/.options
com.dubture.composer.eclipse/target/*
com.dubture.composer.ui/bin/*
com.dubture.composer.ui/target/*
com.dubture.composer.test/bin/*
com.dubture.composer.test/target/*
com.dubture.composer.feature/target/*


