.DS_Store

com.dubture.composer.core/bin/*
com.dubture.composer.core/target/*
com.dubture.composer.ui/bin/*
com.dubture.composer.ui/target/*
com.dubture.composer.test/bin/*
com.dubture.composer.test/target/*

