<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.dubture.composer.ui.editor.toolbar">
         <command
               commandId="com.dubture.composer.ui.command.install"
               icon="icons/full/obj16/install.gif"
               label="Install"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:sourceMenuId?before=sourceBegin">
         <command
               commandId="com.dubture.composer.ui.command.injectAutoload"
               label="Inject autoload statement"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.php.ui.phpContentType.definition">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.dubture.composer.ui.toolbar.injectAutoload"
               label="Inject autoload statement">
            <command
                  commandId="com.dubture.composer.ui.command.injectAutoload"
                  icon="icons/full/obj16/internalize.gif"
                  label="Inject autoload statement"
                  style="push"
                  tooltip="Injects a require_once statement with the path to the composer autoload.php file">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Run `composer.phar install`"
            id="com.dubture.composer.ui.command.install"
            name="Install dependencies">
      </command>
      <command
            description="Run `composer.phar install --dev`"
            id="com.dubture.composer.ui.command.installDev"
            name="Install Dependencies (dev)">
      </command>
      <command
            description="Run `composer.phar update`"
            id="com.dubture.composer.ui.command.update"
            name="Update dependencies">
      </command>
      <command
            description="Run `composer.phar update --no-dev`"
            id="com.dubture.composer.ui.command.updateNoDev"
            name="Update Dependencies (no-dev)">
      </command>
      <command
            description="Run `composer.phar self-update`"
            id="com.dubture.composer.ui.command.selfupdate"
            name="Self-Update Composer">
      </command>
      <command
            id="com.dubture.composer.ui.command.graph"
            name="Dependency Graph">
      </command>
      <command
            defaultHandler="com.dubture.composer.ui.commands.InjectAutoloadCommand"
            id="com.dubture.composer.ui.command.injectAutoload"
            name="Inject autoload statement">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="com.dubture.composer.ui.views.DependencyGraphView"
            icon="icons/full/obj16/composer.png"
            id="com.dubture.composer.ui.view.dependencyGraph"
            name="Dependency Graph"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.php.ui.preferences.PHPBasePreferencePage"
            class="com.dubture.composer.ui.preferences.ComposerPreferencePage"
            id="com.dubture.composer.ui.preferences.Packages"
            name="Composer">
      </page>
   </extension>
   <!--
   <extension
         point="org.eclipse.php.ui.phpTreeContentProviders">
      <provider labelProvider="com.dubture.composer.ui.explorer.PackageTreeLabelProvider" contentProvider="com.dubture.composer.ui.explorer.PackageTreeContentProvider"
            >
      </provider>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dubture.composer.ui.editor.composer.ComposerFormEditor"
            default="true"
            filenames="composer.json"
            icon="icons/full/obj16/packd_obj.gif"
            id="com.dubture.composer.ui.editor.composer.ComposerEditor"
            name="Composer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.dubture.composer.ui.preferences.ComposerPreferencePage"
            id="com.dubture.composer.ui.preferences.project.composer"
            name="Composer">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.dubture.composer.core.composerNature">
               </test>
            </adapt>
        </enabledWhen>
      </page>
         
      <page
            category="com.dubture.composer.ui.preferences.project.composer"
            class="com.dubture.composer.ui.preferences.BuildPathManagementPage"
            id="com.dubture.composer.ui.preferences.project.buildpathManagement"
            name="Build Path Management">
	         <enabledWhen>
	            <adapt
	                  type="org.eclipse.core.resources.IProject">
	               <instanceof
	                     value="org.eclipse.core.resources.IProject">
	               </instanceof>
	               <test
	                     property="org.eclipse.core.resources.projectNature"
	                     value="com.dubture.composer.core.composerNature">
	               </test>
	            </adapt>
	        </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.php.project.ui"
            class="com.dubture.composer.ui.wizard.project.ComposerProjectCreationWizard"
            finalPerspective="org.eclipse.php.perspective"
            icon="icons/full/obj16/composer_project.gif"
            id="com.dubture.composer.ui.projectwizard"
            name="Composer Project"
            preferredPerspectives="org.eclipse.php.perspective"
            project="true">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
         <description>
            Creates and initializes a composer project.
         </description>
      </wizard>
      <primaryWizard
            id="com.dubture.composer.ui.projectwizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <newWizardShortcut
               id="com.dubture.composer.ui.projectwizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.pdtextensions.core.ui.namespaceresolver">
      <resolver
            class="com.dubture.composer.ui.pex.NamespaceResolver"></resolver>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="Resources/help/help_contexts.xml">
      </contexts>
   </extension>
   

</plugin>
