<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>



   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.dubture.composer.ui.editor.toolbar">
         <command
               commandId="com.dubture.composer.ui.command.install"
               icon="icons/full/obj16/install.gif"
               label="Install"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="com.dubture.composer.core.command.projectnature"
               label="Add Composer Support"
               style="push">
         </command>
      </menuContribution>
      <!--<menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/full/obj16/composer.png"
               id="com.dubture.composer.ui.menu"
               label="Composer">
            <command
                  commandId="com.dubture.composer.ui.command.install"
                  label="Install dependencies"
                  style="push">
            </command>
            <command
                  commandId="com.dubture.composer.ui.command.update"
                  label="Update dependencies"
                  style="push">
            </command>
            <command
                  commandId="com.dubture.composer.ui.command.adddependency"
                  label="Add dependency"
                  style="push">
            </command>
            <command
                  commandId="com.dubture.composer.ui.command.graph"
                  label="Dependency Graph"
                  style="push">
            </command>
            <command
                  commandId="com.dubture.composer.ui.command.init"
                  label="Initialize composer"
                  style="push">
            </command>
         </menu>
      </menuContribution>-->
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Run `composer.phar install`"
            id="com.dubture.composer.ui.command.install"
            name="Install dependencies">
      </command>
      <command
            description="Run `composer.phar install --dev`"
            id="com.dubture.composer.ui.command.installDev"
            name="Install Dependencies (dev)">
      </command>
      <command
            description="Run `composer.phar update`"
            id="com.dubture.composer.ui.command.update"
            name="Update dependencies">
      </command>
      <command
            description="Run `composer.phar update --no-dev`"
            id="com.dubture.composer.ui.command.updateNoDev"
            name="Update Dependencies (no-dev)">
      </command>
      <command
            description="Run `composer.phar self-update`"
            id="com.dubture.composer.ui.command.selfupdate"
            name="Self-Update Composer">
      </command>
      <command
            id="com.dubture.composer.ui.command.graph"
            name="Dependency Graph">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.dubture.composer.ui.command.projectnature">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="com.dubture.composer.ui.view.dependencies.DependencyGraph"
            icon="icons/full/obj16/composer.png"
            id="com.dubture.composer.ui.dependencyGraph"
            name="Dependency Graph"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.php.ui.preferences.PHPBasePreferencePage"
            class="com.dubture.composer.ui.preferences.ComposerPreferencePage"
            id="com.dubture.composer.ui.preferences.Packages"
            name="Composer">
      </page>
   </extension>
   <extension
         point="org.eclipse.php.ui.phpTreeContentProviders">
      <provider labelProvider="com.dubture.composer.ui.explorer.PackageTreeLabelProvider" contentProvider="com.dubture.composer.ui.explorer.PackageTreeContentProvider"
            >
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dubture.composer.ui.editor.composer.ComposerFormEditor"
            default="true"
            filenames="composer.json"
            icon="icons/full/obj16/composer.png"
            id="com.dubture.composer.ui.editor.composer.ComposerEditor"
            name="Composer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.dubture.composer.ui.preferences.ComposerPropertyPage"
            id="com.dubture.composer.ui.preferences.project"
            name="Composer">
            <enabledWhen>
            	<adapt type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.dubture.composer.core.composerNature">
                  </test>
               </adapt>
            </enabledWhen>
      </page>
      <page
            category="com.dubture.composer.ui.preferences.project"
            class="com.dubture.composer.ui.preferences.BuildPathManagementPage"
            id="com.dubture.composer.ui.preferences.project.buildpathManagement"
            name="Build Path Management">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.php.project.ui"
            class="com.dubture.composer.ui.wizard.project.ComposerProjectCreationWizard"
            finalPerspective="org.eclipse.php.perspective"
            icon="icons/full/obj16/composer_project.gif"
            id="com.dubture.composer.ui.projectwizard"
            name="Composer Project"
            preferredPerspectives="org.eclipse.php.perspective">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.php.perspective">
         <newWizardShortcut
               id="com.dubture.composer.ui.projectwizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.pdtextensions.core.ui.namespaceresolver">
      <resolver
            class="com.dubture.composer.ui.pex.NamespaceResolver"></resolver>
   </extension>
   

</plugin>
