<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.dubture.indexing.core.buildParticipant">
      <participant
            file_extensions="xml"
            json_visitor="com.dubture.composer.core.visitor.ComposerVisitor"
            nature_id="com.dubture.composer.core.composerNature">
      </participant>
   </extension>

</plugin>
